@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}


.blue {
  --bg-color: #1e3a8a; 
  --text-color: #ffffff;
}


.red {
  --bg-color: #b91c1c; 
  --text-color: #ffffff;
}


.white {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
